body {
    background-color: #191919 !important;
    padding: 0;
    margin: 0;
}

.home {
    z-index: 3;
    position: relative;
    top: 100px;
}
.info a {
    color: rgb(159, 159, 159);
    text-decoration: none;
    margin-right: 10px;
}
.info a:hover{
    color: #fee715cc;
}


.name {
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 13vh !important;
    color: #FEE715;
}

.footer {
    height: 45%;
    width: 100%;
    background-color: #FEE715;
   
}
.corner-cover {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #191919 50%, rgba(22, 27, 34, 0) 0%, transparent);
}

.head {
    z-index: 1;
    height: 100%;
    width: 100%;
    background-image: url(head_background.png);
    background-size: 100px;
    animation: head_animation 30s infinite linear;
}

@keyframes head_animation {
    0% {
        background-position-x: 0;
        background-position-y: 0;
    }

    100% {
        background-position-x: -1000px;
        background-position-y: 1190px;
    }


}

@media (max-width: 400px) {
    .home{
        top: 30px;
    }
}
































/* .lel{
    background-color: #191919;
    color: white;
    
}
.waw{
    position: absolute;
    right: 30%;
    bottom: 50%;
  
  
}
.display-1{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 15vh !important;
    color: #FEE715;
}
.head-div{
    display: block;
    color: aqua;
    position: absolute;
  bottom: 0;
  right: 0;
   
    font-size: 200px;
    text-align: center;
    z-index: 2  ;
}
.footer{
    width: 100%;
    height: 600px;
    background-color: #fee71500;
    border-top: 600px solid rgb(255, 0, 0);
    border-right: 800px solid transparent;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.corner-cover{
    width: 100%;
    height: 0;
    border-style: solid;
    border-width: 300px 600px 0 0;
    border-color: #f10000 transparent transparent transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
   
}
.head-div {
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 50%;
    text-align: center;
    
} */