body {
    background-color: #2c2d31;
    padding-bottom: 3%;
}

@font-face {
    font-family: neon;
    src: url(neonFam.otf);
}

.contact_icon {
    position: fixed;
    bottom: 6%;
    right: 8%;
}


.logoNameEffect h2 {
    color: #fff;
    font-family: neon;
    font-size: 4em;
    font-weight: 100;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px #eedd82,
        0 0 20px #eedd82,
        0 0 40px #eedd82;
}

.card-body {
    background-color: rgb(221, 221, 221);
    text-align: center;
}

/* CONTENT */

.content_btn {
    border-bottom: 1px solid#eedd82;
}
.offcanvas {
    background: #2c2d31;
    width: 30%;
    font-size: 1.4em;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.offcanvas-body{
    padding: 0 0 0 20px;
}
@media (max-width: 530px) {
    .logoNameEffect h2 {
        font-size: 2em;
        padding-left: 30%;
    }
    .offcanvas {
        background: #2c2d31;
        width: 90%;
        list-style-type: none;

       
    }
}
